%text-header{
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
%text-ordinary{
    text-align: center;
    font-family: Inria Serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
%text-header-footer{
    font-family: Ponnala;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}